.footer {
  background-color: #444;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upPageArrrow {
  display: absolute;
  text-align: center;
  color: white;
  padding: 10px;
}

.upPageArrrow:hover {
  color: orange;
}

.socialLinksFooter {
  color: white;
  padding: 10px;
}

.socialLinksFooter:hover {
  color: orange;
}

/*
  Add more custom CSS here
*/
