.header {
  background-color: #444;
  /* opacity: 0.8; */
  margin: auto;
  display: inline-block;
  width: 100%;
  position: fixed;
  text-align: center;
  padding: 10px;
}

.headAnchorLink {
  color: white;
  text-align: center;
  text-decoration: none;
}

.headAnchorLink:hover {
  color: orange;
  text-decoration: none;
}

/*
  Add more custom CSS here
*/
