#portfolio {
  padding-top: 10vh;
  width: 80vw;
  height: 110vh;
}

.portfolioHeadings {
  text-decoration: underline orange;
}

.portfolioLink {
  color: orange;
  text-decoration: none;
}

.portfolioLink:hover {
  color: orange;
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  #portfolio {
    padding-top: 10%;
    height: unset;
    padding-bottom: 10%;
  }
}
