#resume {
  padding-top: 10vh;
}

.resumeHeadings {
  text-decoration: underline orange;
}

.work {
  padding-bottom: 10vh;
}
.education {
  padding-bottom: 10vh;
}
.certificates {
  padding-bottom: 10vh;
}
.skills {
  padding-bottom: 10vh;
}

.companyLinks {
  color: orange;
  text-decoration: none;
}

.companyLinks:hover {
  color: orange;
  text-decoration: underline;
}

/*
  Add more custom CSS here
*/
