#resume {
  padding-top: 56.5px;
}

.resumeHeadings {
  text-decoration: underline orange;
}

.companyLinks {
  color: orange;
  text-decoration: none;
}

.companyLinks:hover {
  color: orange;
  text-decoration: underline;
}

/*
  Add more custom CSS here
*/
