#resume {
  padding-top: 10vh;
}

.resumeHeadings {
  text-decoration: underline orange;
}

.divider {
  border: 1px solid #444;
  margin: 5vh 5vw 10vh 5vw;
}

.companyLinks {
  color: orange;
  text-decoration: none;
}

.companyLinks:hover {
  color: orange;
  text-decoration: underline;
}

.progress-bar {
  background-color: orange;
  color: white;
}

.skillsCell {
  padding: 10px;
}

/*
  Mobile responsive design below
*/

@media screen and (max-width: 600px) {
  .resumeHeadings {
    padding-bottom: 10px;
  }
  .divider {
    margin: 5vw;
  }
}
