#testemonials {
  padding-top: 10vh;
  width: 50vw;
  height: 50vh;
  color: white;
  background-color: #444;
  border-radius: 25px;
}

.testemonialText {
  background-color: pink;
}

.MuiTabs-indicator {
  background: orange;
}

.css-1t4lqmc-MuiButtonBase-root-MuiTab-root {
  color: white;
}

.css-1t4lqmc-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: orange;
}

/*
  Mobile responsive design below
*/

@media screen and (max-width: 1024px) {
  /* .MuiTabs-scroller {
    left: unset;
  } */
}
